/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
::-moz-selection {
  background: #f3ea41;
  color: #222;
  text-shadow: none; }

::selection {
  background: #f3ea41;
  color: #222;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(140, 140, 140, 0.3);
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset, figure {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

:focus {
  outline: #ccc; }

a {
  text-decoration: none; }

.sticky-guy {
  z-index: 50;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center; }
  .sticky-guy .dc-logo-sm {
    background-color: #00A8C6;
    width: 50%;
    float: left;
    height: 100%; }
    .sticky-guy .dc-logo-sm img {
      margin: 2rem auto 0; }
  .sticky-guy .meetup {
    background-color: #F9F2E7;
    width: 50%;
    float: left;
    height: 100%; }
    .sticky-guy .meetup a {
      display: block;
      font-weight: normal;
      color: #101010;
      font-size: 1.4rem;
      line-height: 6rem;
      width: 100%;
      height: 100%; }
    .sticky-guy .meetup a:hover {
      color: #00A8C6; }
    .sticky-guy .meetup i {
      margin: 0 0 0 1rem; }

.wrapper {
  width: 90%;
  margin: 0 5%; }

a {
  color: #8FBE00;
  font-style: italic; }
  a:hover {
    transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    color: #00A8C6; }

.btn-primary {
  border: 2px solid #ccc;
  background-color: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 20px;
  font-size: 13px;
  color: #ccc;
  text-decoration: none;
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out; }
  .btn-primary:hover {
    background-color: #f3ea41;
    color: #222;
    border-color: #f3ea41; }
  .btn-primary:active {
    background-color: #dacf0e; }

.disabled-link, .disabled-link:hover {
  color: #8c8c8c; }

.bg-watermelon {
  background: #fff url("../img/bg_watermelon.png") repeat;
  /*   background-size: 800px auto;  */ }

.bg-pineapples {
  background: #fff url("../img/bg_pineapples.png") repeat;
  /*   background-size: 60%;  */ }

.bg-strawberries {
  background: #fff url("../img/bg_strawberries.png") repeat;
  /*   background-size: 70%;  */ }

.bg-bananas {
  background: #fff url("../img/bg_bananas.png") repeat;
  /*   background-size: 60%;  */ }

html {
  font-size: 62.5%;
  line-height: 1.4; }

h1, h2, h4 {
  font-family: "soleil", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 4.2rem;
  line-height: 1.25; }

h2 {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 400; }

h3 {
  font-size: 3.6rem;
  font-family: "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;
  line-height: 1.15; }

h4 {
  font-size: 1.6rem;
  font-family: "ff-tisa-web-pro", Georgia, Times, serif;
  font-weight: 400; }

h5 {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic; }

body {
  font-family: "ff-tisa-web-pro", Georgia, Times, serif;
  font-size: 1.6rem; }

i {
  margin-right: 8px; }

.strong {
  font-weight: 600; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul.diamond {
  margin: 0;
  padding: 0 1em;
  list-style: none; }
  ul.diamond li:before {
    position: relative;
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border: 1px solid #8FBE00;
    left: -1em;
    top: 0.9em; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.normal {
  font-weight: 400; }

.italic {
  font-style: italic; }

.clear-margin-top {
  margin-top: 0; }

/*
@include bp1 { // > 340px < 767px 
  .header-container {
    background-size: auto 360px;
  }

  header.wrapper {
    height: 360px;
  }  

  #cr-logo { 
    margin-top: 10px;
  }

  .title {
    width: 100%;
  }

  .cr-whois {
    padding: 60px $mobile-buffer 45px;

    p {
      width: 95%;
      text-align: justify;
    }    
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 14px;
  }

  .cr-avatar {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    background-size: 100% auto;
  }

  .services {
    @include flexwrap(wrap);

    h4 {
    	display: inline-block;
      font-family: $font-sans-header;
      font-size: 16px;    
      font-weight: normal;
    	margin: 0;
    	padding: 12px 0 10px;
    	width: 100%;
    }

    ul {
      @include flexwrap(wrap);
      line-height: 1.25em;
      padding-bottom: 10px;
      width: 100%;
    }

    li {
      width: 100%;
      padding: 5px 0;
      border-top: 1px solid lighten($deep-purple, 25);
    }
    
    li:after {
			display: none;
		} 
  }

  .cover-case-study {
    height: 175px;
    padding: 20px;

    .cs-logo {
      margin-bottom: 15px;
      
      img {
        width: auto;
        height: 20px;
      }
    }
  }

  .visualizer:before, .learnlink:before, 
  .tradeshowres:before, .avalanchenext:before {
    background-size: auto auto;
  }

  .testimonials {

    cite {
      margin-top: 30px;
      @include flexwrap(wrap);
      @include flexDirection(column-reverse);

      img {
        padding: 3px 20px 5px;
        margin: 10px 20px;
        border: none;
      }
      
      p {
        font-family: $font-serif-body;
        font-size: 14px;
        margin: 0 10px;
      }
    } 

    blockquote {
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: justify;    
    }  
  }

  footer {
    @include flexwrap(wrap);
    padding: 0;
    
    .lady-with-sloth {
      margin: 0;      
      background-size: 100%;
      width: 150px;
      height: 150px;
    }

    .contact-info {
      width: 100%;
      padding: 0;
    }
    
    .contact-info h3 {
      margin: 20px 0;
    }
  }

  .footer-container {
    padding: 30px 0;
  }  

  .fine-print {
    @include flexwrap(wrap);
    @include justifyContent(center);
    @include justifyContent(center);
    @include alignSelf(center);   

    .elsewhere {
      width: 100%;
      @include justifyContent(center); 
      margin: 10px 0 20px;      
    }

    small {
      text-align: center;
      @include flexIt(flex-grow 1); 
    }

    a {
      text-align: center;
    }

    a:last-child {
      margin: 0;
    }
  }

  .case-studies  {
  
    nav {
    	@include justifyContent(space-between);
    	margin-top: 30px;
    	padding: 0 10px;
    }
    
    h6.subtitle {
      width: 18em; 
    }

    .subhead-container {
      @include flexDirection(column-reverse);
      padding-bottom: 0;
    }

    .cs-desc, .cs-roles {
      margin: 0;
    }

    .cs-desc {
      text-align: justify;
      width: calc(100% - 30px);
		  margin: 0;
		  padding: 0 $mobile-buffer;
    }

    .cs-roles p, .cs-roles h5 {
      text-align: center;
      width: 100%;
    }

    h3 {
      width: auto;
      margin: 45px $mobile-buffer $mobile-buffer;
      padding: 0;
    }
  }

  #cs-smart {
    .combo-box {
      @include flexwrap(wrap);

      img {
        width: 95%;
      }

      .fa-plus {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
      }

      .sticky-note {
        width: 42px;
        height: 42px;
        bottom: 0;
        right: 20px;
      }

      .sticky-note p {
        top: -5px;
        left: -11px; 
        width: 68px;
        font-size: 11px;
      }
    }
  }

  .chrome, .smart-admin .chrome {
    background-size: 100%;
    background-position: top left;
    width: 90%;
    height: auto;
    padding-top: 4.25%;
    float: none;

    figure {
      width: 100%;
      text-align: center;
    }
    
    img {
      width: 100%
    }
  }

  .link-sitemap .right-img  {
    width: 90%;
    height: auto;
    float: none;
    margin: auto;
    
    img {
      width: 90%
    }
  } 

  .smart-admin, #cs-mblink .link-sitemap {
    @include flexwrap(wrap);
    padding: 45px 0 90px;

    .left-details {
      padding-bottom: 40px;
    }

    .left-details h3 {
      text-align: center;
    }

    .left-details p {
      text-align: justify;
      width: auto;
      margin-left: $mobile-buffer;
      margin-right: $mobile-buffer;
      padding-left: $mobile-buffer;
      padding-right: $mobile-buffer;
    }
  }

  #cs-mbviz {
    .header-container {
      background-position: center 200px;
    }

    .mbviz-sitemap { 
      @include justifyContent(center);  
      padding: 45px $mobile-buffer;
      @include flexwrap(wrap);
      @include flexDirection(column);

      .left-details {
        color: $deep-purple;
        text-align: align;
        padding-top: 8%;
        padding-left: 0;

        h3 {
          text-align: center;
        }

        p {
          text-align: justify;
        }
      } 
    }

    .cs-details img {
      width: 85%;
    }

    .asset-prod { 
      @include flexDirection(column);
      padding: 60px $mobile-buffer;

      img {
        width: 60%;
        height: 60%;
        margin-bottom: $dbl-mobile-buffer;        
      }

      .right-details {
        text-align: justify;
        margin-left: 0;

        h3 {
          text-align: center;
        }

        p {
          width: 100%;
        }  
      } 
    }

    .cs-lessons h3 span {
      margin-bottom: 60px;
    }

    .txt-cols {
      @include flexwrap(wrap);
      margin-bottom: 50px;

      p {
        position: relative;
        width: 100%;
        margin: 0 $mobile-buffer 60px;
      }

      p:before {
        font-size: 210px;
        line-height: .6em;
      }
    }
  }

  #cs-avnext {
    .sketch-avnext { 
      @include flexwrap(wrap);
      @include flexDirection(column);
      padding: 45px 0;

      .left-details h3 {
        text-align: center;
        margin: 0;
        padding: 0;
      }

      .left-details {
        @include flexIt(1);
        text-align: justify;
        padding: 0 $dbl-mobile-buffer;
        margin: 0;
      }

      .right-img {
        @include flexIt(1);
      }
  
      figure img {
        margin-top: 30px;
        width: calc(100% - 30px);
      }  
    }

    .cs-details {
      padding: 0 20px 45px;

      .chrome {
        width: 100%;
        height: auto;
      } 

      .zoom-detail {
        right: -10px;
        top: -10px;
      }

      .zoom-detail img {
        width: 100px;
        height: 100px;
      }

      h3 {
        padding-left: 0;
        padding-right: 0;
      }
    }  

    .asset-prod { 
      @include flexwrap(wrap);
      @include flexDirection(column-reverse);
      padding: 45px $mobile-buffer;
      background-size: 100% auto;

      .left-img {
        @include flexIt(1);
      }

      .chrome {
        width: 100%;
        height: auto; 
        margin-top: 20px;
      }

      .right-details {
        text-align: justify;
        @include flexIt(1);

        h3 {
          text-align: center;
          width: 100%;
          margin: 0;
          padding: 0;
        } 

        p {
          padding: 0 $mobile-buffer;;
        }
      }
    }

    .cs-docs {
      .row img, .add-shadow img {
        width: 90%;
        margin-bottom: 20px;
      }
    }
  }
}

@include bp2 { // > 768px < 1024px 
  .header-container {
    background-size: auto 400px;
  }

  header.wrapper {
    height: 400px;
  }

  .title {
    width: 95%;
    margin-top: 12%;
  }

  .cr-whois {

    padding-top: 60px;

    p {
      width: 80%;
    }    
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 26px;
  }


  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 14px;
  }

  .services {    
    @include flexwrap(wrap);
    margin: 0;

    h4 {
      display: none;
    }


    ul {
      width: 100%;
    }

    li {
      @include flexIt(flexgrow 1);
      width: 100%;
      padding: 10px 0;
    }
    
    li:after {
    	display: none;
    }
  }

  .cover-case-study {
    height: 175px;
    padding: 20px;

    .cs-logo {
      margin-bottom: 15px;
      
      img {
        width: auto;
        height: 20px;
      }
    }
  }

  .testimonials blockquote {
      width: 100%;
      margin: 0;
      padding: 0;
    }

  footer {
    @include flexwrap(wrap);
    
    .lady-with-sloth {
      margin: 0;
    }

    .contact-info {
      width: 100%;
      padding: 0;
    }
  }

  .case-studies .cs-desc {
    margin: 0;
    padding: 0 20px 0 0;
    @include flexIt(2);
  }

  .case-studies .cs-roles {
    margin: 0;
    padding: 0;
    @include flexIt(1);
  }

  #cs-smart {
    .combo-box {

      img {
        width: 95%;
      }

      .fa-plus {
        margin-top: 30px;
        margin-bottom: 30px;
      }

      .sticky-note {
        width: 42px;
        height: 42px;
        bottom: 0;
        right: 20px;
      }

      .sticky-note p {
        top: -5px;
        left: -11px; 
        width: 68px;
        font-size: 11px;
      }
    }
  }

  .chrome, .smart-admin .chrome {
    background-size: 100%;
    background-position: top left;
    width: 90%;
    height: auto;
    padding-top: 3.5%;
    float: none;
    
    img {
      width: 100%
    }
  }

  .link-sitemap .right-img  {
    width: 100%;
    height: auto;
    float: none;
    
    img {
      width: 90%
    }
  } 

  .smart-admin, #cs-mblink .link-sitemap {
    padding-left: 0;
    padding-right: 0;

    .left-details {
      padding: 0 40px 40px;
      @include flexIt(1);
    }

    .right-img {
      @include flexIt(1);
      padding-right: 20px;
    }

    .left-details p {
      text-align: justify;
      width: auto;
    }
  }
  
  .tv-frame {
    width: 90%;
  }

  #cs-mbviz {
    .mbviz-sitemap { 
      padding: 45px;

      .left-details {
        padding-top: 5%;
        padding-left: 5%;
      }       
    }
    
    .asset-prod { 
      padding: 60px 0;

      img {
        @include flexIt(1);
        width: 75%;
        height: 75%;
      }

      .right-details {      
        @include flexIt(2);
        margin-left: 0;

        p {
          width: auto;
          padding-right: $dbl-mobile-buffer;
        }  
      } 
    }
  }

  #cs-avnext {
    .sketch-avnext { 
      @include flexDirection(row-reverse);
      padding: 90px 30px;

      .left-details h3 {
        padding: 0;
      }

      .left-details {
        @include flexIt(1);
        padding: 0 0 0 20px;
      }

      .right-img {
        @include flexIt(1);
      }
  
      figure img {
        width: 95%;
      }  
    }

    .cs-details {
      padding: 0 20px 90px;

      .chrome {
        max-width: 600px;
        height: auto;
      } 

      .chrome img {
        max-width: 600px;
      }

      .zoom-detail img {
        max-width: 186px;
        max-height: 186px;
      }

      h3 {
        padding-left: 0;
        padding-right: 0;
      }
    }  

    .asset-prod { 
      @include alignContent(flex-start);
      padding: 90px 20px 90px;
      background-size: 100% auto;

      .left-img {
        @include flexIt(1);
      }

      .chrome {
        width: 100%;
        height: 260px; 
      }

      .chrome img {
        margin-top: -2px;
      }

      .right-details {
        text-align: left;
        @include flexIt(1);
        padding-left: 30px;
      }
    }

    .cs-docs {
      .row img, .add-shadow img {
        width: auto;
        margin-bottom: 20px;
      }
    }
  }  
}

@include bp3 { // > 1025px

  .wrapper {// max width
      width: 1026px; //1140px - 10% for margins
      margin: 0 auto;
  }

  .testimonials blockquote {
    width: 50%;
  }
}
*/
h2 {
  margin-top: 8rem; }

#dc-logo-lg {
  float: left;
  width: 50%;
  height: 100%;
  background: #00A8C6 url("../img/logo_designcollab_temp.png") no-repeat center; }

.section {
  z-index: 100; }

#dc-mission {
  float: right;
  width: 40%;
  height: 100%;
  background-color: #F9F2E7;
  display: table;
  padding: 0 5%; }
  #dc-mission .valign {
    margin: auto;
    display: table-cell;
    vertical-align: middle;
    font-size: 2.2rem;
    line-height: 1.5; }
  #dc-mission i {
    width: 100%;
    text-align: center;
    margin-top: 30px; }

.event-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 60px 0;
  margin-bottom: 30px; }

.speaker-info {
  margin-right: 15px; }
  .speaker-info img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 5px;
    width: 110px;
    height: 110px; }

.event-info {
  margin-left: 15px;
  width: 50%; }
  .event-info h3 {
    margin: 0;
    font-weight: 400; }
    .event-info h3 span {
      font-style: italic;
      color: #00A8C6;
      display: block; }
  .event-info p {
    text-align: justify;
    width: 85%; }
  .event-info h5 {
    margin: 0; }
  .event-info a {
    font-weight: 700; }

.speaker-elsewhere {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around; }
  .speaker-elsewhere a {
    color: #8c8c8c; }
    .speaker-elsewhere a:hover {
      color: #8FBE00; }
    .speaker-elsewhere a i {
      margin-right: 0; }

.share-yours {
  border: 3px solid #00A8C6;
  padding: 6rem 0;
  text-align: center;
  margin: 6rem auto; }
  .share-yours h2 {
    margin: 0 0 20px 0; }
  .share-yours p {
    width: 40rem;
    margin: 0 auto 2rem; }

.special-thanks {
  padding: 12rem 0 12rem;
  background: #222 url("../img/bg_heart.svg") no-repeat center;
  background-size: 40rem;
  text-align: center; }
  .special-thanks h2 {
    width: 25rem;
    margin: 1rem auto 1rem;
    color: #EB8787; }
  .special-thanks .friends-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
  .special-thanks li {
    margin-bottom: .5rem; }
  .special-thanks hr {
    display: block;
    border-top: 2px solid #EB8787;
    margin: 0; }
