html {
  font-size: 62.5%;
  line-height: 1.4; }

h1, h2, h4 {
  font-family: "soleil", Helvetica, Arial, sans-serif; }

h1 {
  font-size: 4.2rem;
  line-height: 1.25; }

h2 {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 400; }

h3 {
  font-size: 3.6rem;
  font-family: "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;
  line-height: 1.15; }

h4 {
  font-size: 1.6rem;
  font-family: "ff-tisa-web-pro", Georgia, Times, serif;
  font-weight: 400; }

h5 {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic; }

body {
  font-family: "ff-tisa-web-pro", Georgia, Times, serif;
  font-size: 1.6rem; }

i {
  margin-right: 8px; }

.strong {
  font-weight: 600; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ul.diamond {
  margin: 0;
  padding: 0 1em;
  list-style: none; }
  ul.diamond li:before {
    position: relative;
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border: 1px solid #101010;
    left: -1em;
    top: 1em; }

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
::-moz-selection {
  background: #f3ea41;
  color: #222;
  text-shadow: none; }

::selection {
  background: #f3ea41;
  color: #222;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(140, 140, 140, 0.3);
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

fieldset, figure {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

:focus {
  outline: #ccc; }

a {
  text-decoration: none; }

body {
  background-color: #fdfbf7;
  line-height: 1.5; }

.sticky-guy {
  z-index: 50;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  transition: 0.2s top cubic-bezier(0.3, 0.73, 0.3, 0.74); }
  .sticky-guy .dc-logo-sm {
    background-color: #00A8C6;
    width: 50%;
    float: left;
    height: 100%; }
    .sticky-guy .dc-logo-sm img {
      margin: 2rem auto 0; }
  .sticky-guy .meetup {
    background-color: #F9F2E7;
    width: 50%;
    float: left;
    height: 100%; }
    .sticky-guy .meetup a {
      display: block;
      font-weight: normal;
      color: #101010;
      font-size: 1.4rem;
      line-height: 6rem;
      width: 100%;
      height: 100%; }
    .sticky-guy .meetup a:hover {
      color: #00A8C6; }
    .sticky-guy .meetup i {
      margin: 0 0 0 1rem; }

.wrapper {
  width: 90%;
  margin: 0 5%; }

a {
  color: #8FBE00;
  font-style: italic; }
  a:hover {
    transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
    color: #00A8C6; }

.btn-primary {
  border: 2px solid gold;
  background-color: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 8px 20px;
  font-size: 13px;
  color: gold;
  text-decoration: none;
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out; }
  .btn-primary:hover {
    background-color: #f3ea41;
    color: #222;
    border-color: #f3ea41; }
  .btn-primary:active {
    background-color: #dacf0e; }

.btn-register {
  margin-bottom: 60px;
  display: block; }

.disabled-link, .disabled-link:hover {
  color: #8c8c8c; }

.bg-watermelon {
  background: #fff url("../img/bg_watermelon.png") repeat;
  /*   background-size: 800px auto;  */ }

.bg-pineapples {
  background: #fff url("../img/bg_pineapples.png") repeat;
  /*   background-size: 60%;  */ }

.bg-strawberries {
  background: #fff url("../img/bg_strawberries.png") repeat;
  /*   background-size: 70%;  */ }

.bg-bananas {
  background: #fff url("../img/bg_bananas.png") repeat;
  /*   background-size: 60%;  */ }

h2 {
  margin-top: 8rem; }

#dc-logo-lg {
  float: left;
  width: 50%;
  height: 100%;
  background: #00A8C6 url("../img/logo_designcollab.svg") no-repeat center 50%;
  background-size: 67%; }

.section {
  z-index: 100; }

#dc-mission {
  float: right;
  height: 100%;
  background-color: #F9F2E7;
  display: table;
  width: 50%; }
  #dc-mission .valign {
    margin: auto;
    padding: 0 20%;
    display: table-cell;
    vertical-align: middle;
    font-size: 2.2rem;
    line-height: 1.5; }
  #dc-mission i {
    width: 100%;
    text-align: center; }

.event-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 60px 0;
  border-bottom: 1px solid rgba(140, 140, 140, 0.3); }

.speaker-info {
  margin-right: 3rem; }
  .speaker-info img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 5px;
    width: 110px;
    height: 110px; }

.speaker-info-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  padding: 0;
  margin: 30px 0; }
  .speaker-info-row .contain-speaker-info {
    margin-right: 40px; }
  .speaker-info-row img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 5px;
    width: 70px;
    height: 70px; }
  .speaker-info-row .speaker-elsewhere {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around; }

.event-info {
  margin-left: 15px;
  width: 45%; }
  .event-info h3 {
    margin: 0;
    font-weight: 400; }
    .event-info h3 span {
      font-style: italic;
      color: #00A8C6; }
  .event-info h3.tbd-event {
    color: #8c8c8c; }
  .event-info p {
    text-align: justify;
    width: 85%; }
  .event-info hr {
    width: 85%; }
  .event-info h5 {
    margin: 0; }
  .event-info h4 a {
    font-weight: 700; }

.speaker-elsewhere {
  text-align: center;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around; }
  .speaker-elsewhere a {
    color: #8c8c8c; }
    .speaker-elsewhere a:hover {
      color: #8FBE00; }
    .speaker-elsewhere a i {
      margin-right: 0; }

.share-yours {
  background-color: #b8e8ec;
  padding: 6rem 0;
  text-align: center; }
  .share-yours h2 {
    margin: 0 0 20px 0; }
  .share-yours p {
    width: 40rem;
    margin: 1rem auto 1rem; }
  .share-yours a {
    color: #005160; }
  .share-yours a:hover {
    color: #222; }

.special-thanks {
  padding: 12rem 0 12rem;
  background: #222 url("../img/bg_heart.svg") no-repeat center;
  background-size: 40rem;
  text-align: center; }
  .special-thanks h2 {
    width: 25rem;
    margin: 1rem auto 1rem;
    color: #EB8787; }
  .special-thanks .friends-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
  .special-thanks li {
    margin-bottom: .5rem; }
  .special-thanks hr {
    display: block;
    border-top: 2px solid #EB8787;
    margin: 0; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.normal {
  font-weight: 400; }

.italic {
  font-style: italic; }

.clear-margin-top {
  margin-top: 0; }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #dc-logo-lg {
    width: 100%;
    height: 60%;
    background-size: 50%;
    background-position: center 60%;
    float: none;
    display: block;
    position: relative; }

  #dc-mission {
    float: none;
    height: 20%;
    width: 100%; }
    #dc-mission .valign {
      text-align: justify;
      padding: 3% 20%;
      font-size: 2rem; }
    #dc-mission .valign p {
      margin-bottom: 1rem; }

  .event-wrapper p, .event-wrapper hr {
    width: 100%; } }
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #dc-logo-lg {
    width: 100%;
    height: 50%;
    background-size: 65%;
    background-position: center;
    float: none; }

  #dc-mission {
    float: none;
    height: 50%;
    width: 100%; }
    #dc-mission .valign {
      text-align: justify;
      padding: 5% 15%;
      font-size: 1.5rem; }
    #dc-mission .valign p {
      margin-bottom: 1rem; }

  .event-wrapper {
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap; }
    .event-wrapper .speaker-info {
      width: 100%;
      margin: 0 0 3rem 0;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center; }
    .event-wrapper .speaker-info img {
      width: 120px;
      height: 120px; }
    .event-wrapper .speaker-elsewhere {
      display: none; }
    .event-wrapper .event-info {
      width: 100%;
      margin: 0 10%; }
    .event-wrapper .event-info h3 {
      font-size: 2.75rem;
      text-align: center; }
    .event-wrapper .event-info h4 {
      text-align: center; }
    .event-wrapper .event-info h5 {
      text-align: center;
      margin: 1rem 0; }
    .event-wrapper p, .event-wrapper hr {
      width: 100%;
      font-size: 1.5rem; }

  .share-yours {
    padding: 6rem 10%;
    text-align: justify; }

  .share-yours p {
    width: 100%;
    font-size: 1.5rem; }

  .special-thanks {
    background-size: 35rem; } }
