// Theme colors
$lagoon-blue: #00A8C6;
$egg-shell: #F9F2E7;
$fresh-lawn: #8FBE00;
$teal: #40c0cb;

$pink-love: #EB8787;
$lemon: #f3ea41;

// Neutral colors
$lightergray: #ccc;
$lightgray: lighten(#000, 55);
$darkgray: #222;
$offblack: #101010;

// Base font
$font-sans-header: "soleil", Helvetica, Arial, sans-serif;
$font-sans-header2: "ff-tisa-sans-web-pro", Helvetica, Arial, sans-serif;
$font-serif-body: "ff-tisa-web-pro", Georgia, Times, serif;

//Font weights
$normal: 400;
$semi-bold: 600; 
$bold: 700; 

// Image path
$imgpath: '../img';

// Left and right margins for text on mobile
$mobile-buffer: 15px; 
$dbl-mobile-buffer: $mobile-buffer * 2;