@include bp2 { // tablet

  #dc-logo-lg {
  	width: 100%;
    height: 60%;
    background-size: 50%;
    background-position: center 60%;
    float: none;
    display: block;
    position: relative;
  }

  #dc-mission {
    float: none;
    height: 20%;
    width: 100%;

    .valign {
      text-align: justify;
      padding: 3% 20%;
      font-size: 2rem;
    }

    .valign p {
      margin-bottom: 1rem;
    }
  }

  .event-wrapper {

    p, hr {
      width: 100%
    }
  }
}

@include bp1 { // phone

  #dc-logo-lg {
  	width: 100%;
    height: 50%;
    background-size: 65%;
    background-position: center;
    float: none;
  }

  #dc-mission {
    float: none;
    height: 50%;
    width: 100%;

    .valign {
      text-align: justify;
      padding: 5% 15%;
      font-size: 1.5rem;
    }

    .valign p {
      margin-bottom: 1rem;
    }
  }

  .event-wrapper {
    @include flexwrap(wrap);

    .speaker-info {
      width: 100%;
      margin: 0 0 3rem 0;
      @include flexbox;
      @include justifyContent(center);
    }

    .speaker-info img {
      width: 120px;
      height: 120px;

    }

    .speaker-elsewhere {
      display: none;
    }

    .event-info {
      width: 100%;
      margin: 0 10%;
    }

    .event-info h3 {
      font-size: 2.75rem;
      text-align: center;
    }

    .event-info h4 {
      text-align: center;
    }

    .event-info h5 {
      text-align: center;
      margin: 1rem 0;
    }

    p, hr {
      width: 100%;
      font-size: 1.5rem;
    }
  }

  .share-yours {
    padding: 6rem 10%;
    text-align: justify;
  }

  .share-yours p {
    width: 100%;
    font-size: 1.5rem;
  }

  .special-thanks {
    background-size: 35rem;
  }
}
