.wrapper {
  width: 90%;
  margin: 0 5%;
}

a {
  color: $fresh-lawn;
  font-weight: $bold;
  font-style: italic;
  
  &:hover {
    @include transitionEaseIn(color, 0.3s);
    color: $lagoon-blue; 
  }
}

.btn-primary {
	@include defaultButton(none, $lightergray, $lightergray);
	@include transitionEaseIn(background, .25s);


	&:hover {
		background-color: $lemon;
		color: $darkgray;
		border-color: $lemon;
	}

	&:active {
		background-color: darken($lemon, 15%);
	}
}

 
.disabled-link, .disabled-link:hover {
	color: $lightgray;
}

.bg-watermelon {
  background: #fff url('#{$imgpath}/bg_watermelon.png') repeat;
/*   background-size: 800px auto;  */
}

.bg-pineapples {
  background: #fff url('#{$imgpath}/bg_pineapples.png') repeat;
/*   background-size: 60%;  */
}

.bg-strawberries {
  background: #fff url('#{$imgpath}/bg_strawberries.png') repeat;
/*   background-size: 70%;  */
}

.bg-bananas {
  background: #fff url('#{$imgpath}/bg_bananas.png') repeat;
/*   background-size: 60%;  */
}
